In [11]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [12]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [13]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [14]:
print(df.head(1))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1

In [15]:
print(df.tail(1))

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [17]:
#1 Print Summary of transaction data set
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [18]:
import pandas as pd
print(df.describe(include='all'))

        TransactionID TransactionDate    UserID  ProductID   Quantity
count        10.00000              10  9.000000  10.000000  10.000000
unique            NaN              10       NaN        NaN        NaN
top               NaN      2010-08-21       NaN        NaN        NaN
freq              NaN               1       NaN        NaN        NaN
mean          5.50000             NaN  3.444444   3.400000   2.400000
std           3.02765             NaN  2.127858   1.074968   1.712698
min           1.00000             NaN  1.000000   2.000000   1.000000
25%           3.25000             NaN  2.000000   2.250000   1.000000
50%           5.50000             NaN  3.000000   4.000000   2.000000
75%           7.75000             NaN  3.000000   4.000000   3.000000
max          10.00000             NaN  7.000000   5.000000   6.000000

In [19]:
#2. Print Numbers of Attributes
print(df.columns.tolist())

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [20]:
#3. Print Numbers of Records
print(df[['TransactionDate', 'UserID']])

  TransactionDate  UserID
0      2010-08-21     7.0
1      2011-05-26     3.0
2      2011-06-16     3.0
3      2012-08-26     1.0
4      2013-06-06     2.0
5      2013-12-23     2.0
6      2013-12-30     3.0
7      2014-04-24     NaN
8      2015-04-24     7.0
9      2016-05-08     3.0

In [21]:
#4. Get the row names
print(df.index.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
#5. Get the column names
print(df.columns.tolist())

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [23]:
#6. print(df.columns.tolist())
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [24]:
#7.Change the name of column “ Quantity” to “Quant”
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [25]:
#8.Change the name of columns ProductID and UserID
'''df.rename(columns={"ProductID": "Product_ID" , "UserID": "User_ID"}, inplace=True)
print(df)'''
df.rename(columns={"Product_ID": "PID" , "User_ID": "UID"}, inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [26]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True
shiva=df.sort_values(by=["TransactionID"], ascending=False)
print(shiva)

   TransactionID TransactionDate  UserID  ProductID  Quant
9             10      2016-05-08     3.0          4      4
8              9      2015-04-24     7.0          4      3
7              8      2014-04-24     NaN          2      3
6              7      2013-12-30     3.0          4      1
5              6      2013-12-23     2.0          5      6
4              5      2013-06-06     2.0          4      1
3              4      2012-08-26     1.0          2      3
2              3      2011-06-16     3.0          3      1
1              2      2011-05-26     3.0          4      1
0              1      2010-08-21     7.0          2      1

In [27]:
df.sort_values(by="TransactionID", ascending=False, inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
9             10      2016-05-08     3.0          4      4
8              9      2015-04-24     7.0          4      3
7              8      2014-04-24     NaN          2      3
6              7      2013-12-30     3.0          4      1
5              6      2013-12-23     2.0          5      6
4              5      2013-06-06     2.0          4      1
3              4      2012-08-26     1.0          2      3
2              3      2011-06-16     3.0          3      1
1              2      2011-05-26     3.0          4      1
0              1      2010-08-21     7.0          2      1

In [28]:
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
9             10      2016-05-08     3.0          4      4
8              9      2015-04-24     7.0          4      3
7              8      2014-04-24     NaN          2      3
6              7      2013-12-30     3.0          4      1
5              6      2013-12-23     2.0          5      6
4              5      2013-06-06     2.0          4      1
3              4      2012-08-26     1.0          2      3
2              3      2011-06-16     3.0          3      1
1              2      2011-05-26     3.0          4      1
0              1      2010-08-21     7.0          2      1

In [29]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending
madhu=df.sort_values(by=["Quant","TransactionDate"],ascending=[True,False])
print(madhu)

   TransactionID TransactionDate  UserID  ProductID  Quant
6              7      2013-12-30     3.0          4      1
4              5      2013-06-06     2.0          4      1
2              3      2011-06-16     3.0          3      1
1              2      2011-05-26     3.0          4      1
0              1      2010-08-21     7.0          2      1
8              9      2015-04-24     7.0          4      3
7              8      2014-04-24     NaN          2      3
3              4      2012-08-26     1.0          2      3
9             10      2016-05-08     3.0          4      4
5              6      2013-12-23     2.0          5      6

In [30]:
#11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID
sh = df[["ProductID", "Quant", "TransactionDate", "TransactionID", "UserID"]]
print(sh)

   ProductID  Quant TransactionDate  TransactionID  UserID
9          4      4      2016-05-08             10     3.0
8          4      3      2015-04-24              9     7.0
7          2      3      2014-04-24              8     NaN
6          4      1      2013-12-30              7     3.0
5          5      6      2013-12-23              6     2.0
4          4      1      2013-06-06              5     2.0
3          2      3      2012-08-26              4     1.0
2          3      1      2011-06-16              3     3.0
1          4      1      2011-05-26              2     3.0
0          2      1      2010-08-21              1     7.0

In [31]:
#12. Make UserID the first column of transactions
sh1 = sh[["UserID" ,"ProductID", "Quant", "TransactionDate", "TransactionID"]]
print(sh1)

   UserID  ProductID  Quant TransactionDate  TransactionID
9     3.0          4      4      2016-05-08             10
8     7.0          4      3      2015-04-24              9
7     NaN          2      3      2014-04-24              8
6     3.0          4      1      2013-12-30              7
5     2.0          5      6      2013-12-23              6
4     2.0          4      1      2013-06-06              5
3     1.0          2      3      2012-08-26              4
2     3.0          3      1      2011-06-16              3
1     3.0          4      1      2011-05-26              2
0     7.0          2      1      2010-08-21              1

In [32]:
#13. Extracting arrays from a Data Frame. Get the 2nd column
second_column = sh1.iloc[:, 1]
print(second_column)

9    4
8    4
7    2
6    4
5    5
4    4
3    2
2    3
1    4
0    2
Name: ProductID, dtype: int64

In [33]:
second_column = sh1.iloc[:, 2]
print(second_column.head(1))

9    4
Name: Quant, dtype: int64

In [34]:
#14. Get the ProductID Array
PA = df["ProductID"].values
print(PA)

[4 4 2 4 5 4 2 3 4 2]

In [35]:
#15. Get the ProductId array using the following variable